.signin,.signup {
    display: flex;
    justify-content: center;
    background-image: url("/assets/img/background.jpg");
    height: 100vh;
    -moz-background-size:cover;
    background-size:cover;
    overflow: hidden;
    align-items: center;
}

.signin .main,
.signup .main {
  padding-top: 30px;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 20px;
  width: 570px;
  max-width: 800px;
  max-height: 100%;
  background-color: #ffffff;
}

.signup .main {
  margin-top: 150px;
  max-height: 700px;
}

.loadingState {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: fixed;z-index: 999;
  background-color: rgba(0, 0, 0, 0.2);
}

.signin .title_main_logo {
  display: block;
  margin: 0 auto;
  height: 200px;
/* 非テスト版アイコン/ロゴ用
  height: 150px;
  width: 140px; */
}

.signin .title_sub_logo {
  display: block;
  margin: 0 auto;
  height: 38px;
  width: 180px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.signup .title {
  display: block;
  margin: 0 auto;
}

.signin form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signin .input_company_id_area,
.signin .input_login_id_area,
.signin .input_password_area {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-bottom: 15px;
}
.signin .input_company_id_label,
.signin .input_login_id_label,
.signin .input_password_label {
  font-family: メイリオ, Meiryo, ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, Osaka, ＭＳ Ｐゴシック, MS PGothic, sans-serif !important;
  border-radius: 25px 0px 0px 25px;
  background-color: #d1d1d1;
  color: #5b5c5b;
  font-size: 13px;
  display:inline-block;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 11px;
  min-width: 170px;
}
.signin .input_company_id,
.signin .input_login_id,
.signin .input_password {
  font-family: メイリオ, Meiryo, ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, Osaka, ＭＳ Ｐゴシック, MS PGothic, sans-serif !important;
  border-radius: 0px 25px 25px 0px;
  border: 3px #d1d1d1 solid;
  height: 35px;
  min-width: 250px;
  font-size: 14px;
  padding-left: 10px;
  padding-right: 10px;
}

.signin .signin_submit_button_area {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  /* align-self: flex-end;
  margin-right: 46px; */
}
.signin .signin_submit_button {
  font-family: メイリオ, Meiryo, ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, Osaka, ＭＳ Ｐゴシック, MS PGothic, sans-serif !important;
  color: white;
  background-color: #ec5c04;
  font-size: 13px;
  border: 0px;
  margin-bottom: 5px;
  border-radius: 25px;
  height: 43px;
  width: 163px;
  cursor: pointer;
}
.signin .signin_submit_button:hover {
  font-family: メイリオ, Meiryo, ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, Osaka, ＭＳ Ｐゴシック, MS PGothic, sans-serif !important;
  color: white;
  background-color: #3f51b5;
  font-size: 13px;
  border: 0px;
  margin-bottom: 5px;
  border-radius: 25px;
  height: 43px;
  width: 163px;
}

.signin .container_area {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-bottom: 15px;
  min-width: 440px;
  justify-content: space-between;
  align-self: center;
}

.signin .link_area {
  display: flex;
  flex-direction: column;
}

.signin .link_href {
  font-family: メイリオ, Meiryo, ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, Osaka, ＭＳ Ｐゴシック, MS PGothic, sans-serif !important;
  height: 20px;
  color: #ec5c04;
  font-size: 13px;
  margin-right: 10px;
  text-decoration: underline;
  margin-bottom: 10px;
}


.signin .keep_login_info_label {
  font-size: 13px;
  margin-left: 11px;
}

.signin .keep_login_info {
  vertical-align: -3px;
}

.signin .footer_area {
  display: flex;
  justify-content: center;
}
.signin .footer_logo {
  height: 20px;
  width: 90px;
}

.signin button:nth-child(3) {
    margin-top: 40px;
}

.signup button:nth-child(6) {
    margin-top: 40px;
}

.passwordChangeDialog, .agreementDialog{
  text-align: center;
}

.passwordChangeDialog .button_area {
  height: 10vh;
}

.signin .agreement_dialog {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 5vh;
  padding-right: 5vh;
  padding-bottom: 3vh;
  text-align: center;
}

.signin .agreement_dialog .btn:disabled {
  background-color: #9b9b9b;
  opacity: 0.2;
}

.signin .modal .modal_area {
  background-color: #F4F4F4;
  width: 80%;
  min-width:400px;
  position: fixed;
  z-index: 5;
  top:0;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: calc(20% / 2);
  left: 0;
}

.signin .modal .modal_area .agreement_text {
  background-color: #FEFEFE;
  position: relative!important;
  border: 0;
  margin-bottom: 20px;
  width: 100vh;
  height: 40vh;
  padding: 25px;
  overflow-y: scroll;
  text-align: left;
}
.signin .modal .modal_area .agreement_text h2 {
  text-align: center;
}
.signin .modal .modal_area .agreement_form span {
  font-family: メイリオ, Meiryo, ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, Osaka, ＭＳ Ｐゴシック, MS PGothic, sans-serif !important;
}
.signin .modal .modal_area .next_btn_area {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 350px;
}

.signin .passwordChangeDialog button {
  text-transform: none;
}


.agreement_dialog .message > div{
  flex:none;
}
